.w3-bar-item w3-button tablink{
    background-color: red;
}

.button{
    background-color: rgb(104, 175, 241);
    width: 200px;
    height:50px;
    color: white;
    text-decoration: none;  
    margin-top: 30px;  
    border-radius: 5px;
    border: none;
    
}

.button:hover{
    background-color: rgb(41, 103, 161);
    cursor: pointer;
}

.button a {
    text-decoration: none;
}





.user_info{
    border-collapse: collapse;
  width: 100%;
  justify-content: center; 
    text-align: center;   
    margin: auto; 
}

.user_info th, td {
    padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
  justify-content: center;
  }

  .user_info tr:hover {background-color: rgb(104, 175, 241)}
  

.account_info p{
    font-weight: 600;
    margin-top: 10px;
    padding-top: 10px;
    
    
}

.account_info_echo p{
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.make_appoinment{
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 10px;
    width: 100%;
    height: auto;    
    justify-content: center; 
    text-align: center;   
    margin: auto; 
    padding-bottom: 20px;
    
}
.make_appointment_date{
    width:200px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    color: #DDD;
}
.make_appointment_dropdown{
    width:200px;
    height: 40px;
    border-radius: 5px;
}

.make_appoinment_button{
    background-color: rgb(104, 175, 241);
    width: 200px;
    height:50px;
    color: white;
    text-decoration: none;  
    margin-top: 10px;  
    border-radius: 5px;
    border: none;
}

.make_appoinment_button:hover{
    background-color: rgb(41, 103, 161);
    cursor: pointer;
}

.make_appoinment_button a {
    text-decoration: none;
}

.current_appoinments{
    border: 1px solid black; 
    border-radius: 10px;
    width: 50%; 
    height: auto; 
    justify-content: center; 
    text-align: center; 
    margin: 50px auto auto auto;    
}

.current_appoinments tr{
    border-bottom: 1px solid black;
}